img.App-logo {
  max-width: 70px;
}

header.App-header > div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.auth_box {
  padding: 10px 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.auth_box .auth_form {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: left;
}

.btn {
  cursor: pointer;
  padding: 10px 15px;
}

.btn-full {
  width: 100%;
}

.auth_form_input {
  margin-bottom: 5px;
}

.auth_card_actions .btn-full {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-primary {
  background: #57c1df;
}

.btn-primary:hover {
  background: #0000ed;
}

.btn-secondary {
  background: #333;
}

.btn-secondary:hover {
  background: #000;
}

.App-MapWrap header.App-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.App-MapWrap header.App-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.App-MapWrap header.App-header .App-header-flex {
  background: #fbf8f37a;
}

.App-MapWrap .overlays {
  top: 80px;
}

.App-MapWrap .auth_box {
  padding-top: 120px;
}

.App-MapWrap .auth_box .auth_form {
  background: #fff;
}

span.error_message {
  margin-top: 10px;
  margin-bottom: 10px;
  width: calc(100% - 30px);
  display: inline-block;
  padding: 10px 15px;
  background: #d24f4f;
  border-radius: 4px;
  color: #fff;
}

.App-header .App-header-flex span {
  color: #000;
}
